* {
  box-sizing: border-box;
}

:root {
  font-size: 18px;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.container {
  padding: 1rem;
  margin: 0 auto;
  max-width: 1280px;
  min-width: 300px;
}

.container h1.title {
  text-align: center;

  position: relative;
}
.container h1 span.version {
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 0.5rem;

  position: absolute;
  bottom: 0;
}

.container p.message {
  font-size: 0.9rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}
.container p.message span {
  margin-right: 1rem;
}

.container ul {
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 0.25em;
  list-style: none;
}
.container ul li {
  padding: 0.25rem 0rem;
}
.container ul li span.index {
  margin-right: 0.5rem;
}
